.btn-celeb-blue {
    background-color: #0393B2;
}

.btn-celeb-yel {
    background-color: #F3C614;
}

.btn-celeb-light {
    background-color: #F0DB88;
}

.light {
    color: #fff;
}
/*#F3C614 - yellow*/
/*#F0DB88 - lighter yellow*/